// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@font-face {
	font-family: 'RIDER';
	src: url('/fonts/rider.ttf');
	font-weight: normal;
	font-style: normal;
	} 

            html, body {
                height: auto;
                margin: 5px;
				color:#2e2b28;
				line-height: 1.4em;
            }
			html{
				border-style:solid;
				border-width:2px;
			}
			body{
				background:url('/assets/bg5.jpg') center center;
			}
			
			a{color:#a00;}
			a:hover{color:#f00;}
			
			.right {
                float:right;
				
            }
			.vCenter{
				display: flex;
				align-items: center;
				flex-wrap: wrap;
			}
			.bordered {
                padding:5px;
                margin-top: 5px;
                margin-bottom: 8px;
                border-width: 2px;
				border-style:solid;
				border-color: black;
				
            }
			.rider {
                font-family:RIDER;
            }
			.double-border{
				border-bottom-style: double;
				border-bottom-width: 10px;
				border-color: black;
			}
            .title {
                font-size: 4.5em;
				font-family:RIDER;
	
				
				transform: scale(1,1.8);
				margin-top:3%;
            }
			.big-text {
                font-size: 3.4vw;
				font-family:Arial Narrow;
				font-weight:900;
				line-height: 1.1em;
				
            }
			.medium-text {
                font-size: 2vw;
				font-family:Arial Narrow;
				font-weight:900;
				line-height: 1.1em;
				padding:5px;
				
            }
			.narrow{
				transform: scale(0.4,1);
			}
			.high{
				//transform: scale(1,1.8);
				margin-top:20px;
				margin-bottom:20px;
				line-height: 1.0em;
			}
			.red{
				color:#ffb;
				background-color:#a00;
				margin:5px;
				
			}
			.inverted{
				color:#ffb;
				background-color:black;
				margin:5px;
				
			}
			.red-text{
				color:#a00;
				margin:5px;
				
			}
			.framed{
				border-width: 1px;
				border-style:solid;
				border-color: black;
				margin:2px;
				padding:1px;
				width:100%;
			}
			.menu{
				background-color: black;
				--height:5vh;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.menuitem{
				margin-top:10px;
				margin-bottom:10px;
				}

            .menuitem > a {
                color: #eeb;
                padding: 10px 25px;
                font-size: 12px;
                font-weight: 600;
                text-transform: uppercase;
				font-family:RIDER;
				height:100%;
			}
			
            .menuitem > a:hover {
                color: #ffe;
                padding:  25px;
                font-size: 10px;
                font-weight: 600;
                letter-spacing: .15rem;
                
                text-transform: uppercase;
				height:100%;
            }

          .typewriter2 h1 {
			  
			  overflow: hidden; 
			  border-right: .15em solid #cc0000;
			  white-space: nowrap; /* Keeps the content on a single line */
			  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
			  letter-spacing: .12em; /* Adjust as needed */
			  animation: 
				typing2 10s steps(40, end),
				blink-caret .75s step-end infinite;
			}@keyframes typing2 {
			  from { width: 0 }
			  to { width: 100% }
			}

		  
		  .typewriter h1 {
			  font-size:2.8vw;
			  overflow: hidden; 
			  border-right: .15em solid red;
			  white-space: nowrap; /* Keeps the content on a single line */
			  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
			  letter-spacing: .15em; /* Adjust as needed */
			  animation: 
				typing 3.5s steps(40, end),
				blink-caret .75s step-end infinite;
			}

			/* The typing effect */
			@keyframes typing {
			  from { width: 0 }
			  to { width: 100% }
			}
			
			

			/* The typewriter cursor effect */
			@keyframes blink-caret {
			  from, to { border-color: transparent }
			  50% { border-color: red; }
			}
			
			.black-body{
				font-family:Times New Roman;
				position: relative;
				color:white;
				background:url();
				background-color:black;
				border-style:none;
				height:100vh;
				
			}
			.exp-container{
				    position: absolute;
					top: 50%;
					left: 50%;
					height: 30%;
					width: 100%;
					margin: -15% 0 0 -50%;
			}
		
		.small-text{
			font-size:0.56rem;
			background-color:black;
			color:white;
			height:60%;
			padding:3px;
			padding-top:20px;
			padding-bottom:20px;
			margin:auto;
			margin-left:0;
			margin-right:0;
			line-height:0.62rem;
			max-width:20%;
		}	
			
		.resp-text{
			font-size:3.8vw;
		}
		.typewriter2 h1 {
			font-size:2.2vw;
		  animation-delay: 0.9s;
		}
		.videocontainer {
        background-color: #000000;
        position: relative;
        width: 40vw;
		height: 21vw;
        
        
    }
    
    .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 40vw;
        height: 21vw;
    
    }